# Project : Multiple Linear Regression

In [37]:
import pandas as pd
import numpy as np

In [38]:
data = pd.read_csv('c:\Users\Kishore\Desktop\Datasets\Startups.csv')

In [39]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [62]:
data.shape

(50, 6)

In [40]:
states = pd.get_dummies(data.State ,drop_first = True)

In [41]:
states.head()

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1
4        1         0

In [42]:
data = data.drop('State',axis =1)

In [43]:
data.head()

   R&D Spend  Administration  Marketing Spend     Profit
0  165349.20       136897.80        471784.10  192261.83
1  162597.70       151377.59        443898.53  191792.06
2  153441.51       101145.55        407934.54  191050.39
3  144372.41       118671.85        383199.62  182901.99
4  142107.34        91391.77        366168.42  166187.94

In [44]:
data = pd.concat([states,data] , axis = 1)

In [45]:
data.tail()

    Florida  New York  R&D Spend  Administration  Marketing Spend    Profit
45        0         1    1000.23       124153.04          1903.93  64926.08
46        1         0    1315.46       115816.21        297114.46  49490.75
47        0         0       0.00       135426.92             0.00  42559.73
48        0         1     542.05        51743.15             0.00  35673.41
49        0         0       0.00       116983.80         45173.06  14681.40

In [46]:
X = data.iloc[:,:-1]

In [47]:
Y = data.iloc[:,4]

In [48]:
X.head()

   Florida  New York  R&D Spend  Administration  Marketing Spend
0        0         1  165349.20       136897.80        471784.10
1        0         0  162597.70       151377.59        443898.53
2        1         0  153441.51       101145.55        407934.54
3        0         1  144372.41       118671.85        383199.62
4        1         0  142107.34        91391.77        366168.42

In [49]:
Y.head()

0    471784.10
1    443898.53
2    407934.54
3    383199.62
4    366168.42
Name: Marketing Spend, dtype: float64

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
x_train,x_test,y_train,y_test = train_test_split(X,Y , test_size = 0.20, random_state = 0)

In [52]:
x_train.head()

    Florida  New York  R&D Spend  Administration  Marketing Spend
33        1         0   55493.95       103057.49        214634.81
35        0         1   46014.02        85047.44        205517.64
26        1         0   75328.87       144135.98        134050.07
34        0         0   46426.07       157693.92        210797.67
18        1         0   91749.16       114175.79        294919.57

In [53]:
from sklearn.linear_model import LinearRegression

In [54]:
model = LinearRegression()

In [55]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [56]:
y_pred = model.predict(x_test)

In [57]:
y_pred

array([ 118148.2 ,  249744.55,  229160.95,  164470.71,  407934.54,
        353183.81,  185265.1 ,   88218.23,  303319.26,  366168.42])

In [58]:
x_test.head()

    Florida  New York  R&D Spend  Administration  Marketing Spend
28        1         0   66051.52       182645.56        118148.20
11        0         0  100671.96        91790.61        249744.55
10        1         0  101913.08       110594.11        229160.95
41        1         0   27892.92        84710.77        164470.71
2         1         0  153441.51       101145.55        407934.54

In [59]:
from sklearn.metrics import r2_score

In [60]:
r2 = r2_score(y_test,y_pred)

In [61]:
r2

1.0